* {
    list-style: none;
    text-decoration: none;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#funcionalidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

#funcionalidades h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}

.linha {
    width: 30vw; /* Largura da linha */
    height: 3px;  /* Altura da linha */
    background-color: #7900ff; /* Cor da linha */
    margin: 0 auto 30px auto; /* Centraliza e adiciona espaçamento */
}

.texto-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.texto-img img {
    max-width: 30vw;
    height: 50vh;
    
    border-radius: 8px;
}

.cardfunc {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start; 
    padding: 20px;
    width: 70vw; 
    max-width: 1200px; 
    border-radius: 8px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #7900ff, #222021);
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4); 
    transition: transform 0.3s ease;
}

.cardfunc:hover {
    background: linear-gradient(45deg, #7900ff, #ff007b);
    transform: scale(1.02); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

#funcionalidades h3 {
    font-size: 1.8em;
    text-align: center;
}

#funcionalidades h3::after {
    content: '';
    display: block;
    width: 50px;   
    height: 3px;   
    background-color: #ffffff; 
    margin: 10px auto;
}

#funcionalidades p {
    font-size: 1.2em;
    text-align: start;
}

@media (max-width: 1024px) {
    .cardfunc {
        width: 85vw; 
    }
}

@media (max-width: 768px) {
    .texto-img {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .cardfunc h3 {
        font-size: 1.5em; 
    }

    .cardfunc {
        width: 80vw; 
        padding: 15px;
    }

    .texto-img img {
        max-width: 80%;
        height: 20vh;
        order: 1;
    }

    .texto-img .texto {
        order: 2;
        text-align: center;
    }

    #funcionalidades p {
        font-size: 1.0em;
        text-align: start;
    }
}

@media (max-width: 540px) {
    #funcionalidades h2{
        font-size: 1.5em;
    }

    #funcionalidades h3  {
        font-size: 1.0em; 
    }

    .cardfunc {
        width: 70vw; 
        padding: 15px;
    }

    .texto{
        font-size: 0.7em;
    }
}
