footer {
  width: 100%;
  color: floralwhite;
  background-color: #121212;
  padding-left: 4rem;
  padding-right: 4rem;
}

.marketing{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.img_box{
  width: 100%;
  height: 120px;
}

.footer_content{
  display: flex;
  justify-content: space-around;
}

.footer-link {
  text-decoration: none;
}

ul.footer-list {
  padding: 15px 0px;
}

div#footer_news {
  padding: 15px 50px 15px 50px;
}

#footer_contacts {
  margin-bottom: 0.75rem;
  font-size: 20px;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
}


#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
}

.footer-link i {
  transition: all 0.4s;
}

.footer-link i:hover{
  color: #7900ff;
  scale: 1.5;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  justify-content: space-around;
}



.footer-list .footer-link {
  color: whitesmoke;
  transition: all 0.4s ease, transform 0.4s ease;
}

.footer-list .footer-link:hover {
  color: #7900ff;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem;
  font-weight: 100;
  border-top: 1px solid
}

.tela-contato{
  padding-bottom: 20px;
}

.centro{
  display: flex;
  justify-content: center;
}

.btn-dois {
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-3);
  color: var(--color-neutral-1);
  border-radius: 12px;
  padding: 10px 14px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color .3s ease;
}

.btn-dois:hover {
  background-color: var(--color-primary-4);
}

@media screen and (max-width: 980px) {
  ul.footer-list {
    padding: 15px 25px 0px 0px;
  }
}

@media screen and (max-width: 680px) {
  .marketing{
    justify-content: center;
    flex-direction: column;
  }
  .img_box{
    height: auto;
  }
  .footer_content{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  ul.footer-list {
    padding: 15px 0px;
  }
  }
