*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$roxo-melodia: #7900ff;
$preto-melodia: #000000;
$branco-melodia: #f5f5f5;
$cinza-melodia: rgb(65, 65, 65);
$texto-melodia: rgb(236, 236, 236);


header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, $roxo-melodia, $preto-melodia);
    position: sticky;
    top: 0;
    height: 130px;
}

li{
    list-style: none;
}


.item_opcoes{
    text-decoration: none;
    color: $texto-melodia;
    padding: 10px;
    transition: all .3s ease-in-out;
        &:hover {
            background-color: $roxo-melodia;
            border-radius: 20px;
        }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

nav {
    @extend.logo;
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0;
    
}

nav .logo .logomelodia {
    padding: 8px;
    width: 110px;
}

nav .opcoes {
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

nav .toggle_btn {
    color: $branco-melodia;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.menu_dropdown{
    display: none;
    position: absolute;
    right: 10px;
    top: calc(100% + 20px);
    min-height: 100px;
    background: $cinza-melodia;
    border-radius: 20px;
    user-select: none;
        &::before{
            content: '';
            position: absolute;
            top: -8px;
            right: 35px;
            width: 20px;
            height: 20px;
            background: $cinza-melodia;
            transform: rotate(45deg);
            z-index: -1;
        }
}

.menu_dropdown li {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}


.btn-outline-primary {
    --bs-btn-color: #7900ff;
    --bs-btn-border-color: #7900ff;
    --bs-btn-hover-bg: #7900ff;
    --bs-btn-hover-border-color: #7900ff;
    --bs-btn-active-bg: #7900ff;
    --bs-btn-active-border-color: #7900ff;
    --bs-btn-disabled-color: #7900ff;
    --bs-btn-disabled-border-color: #7900ff;
}

.content_principal{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(/images/fundo.gif);
    background-size: cover;
    height: 930px;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.gif{
    position: absolute;
}

.hero_pai{
    display: flex;
    flex-wrap: wrap;
    color: $texto-melodia;
    align-items: center;
    justify-content: center;
}

.titulo{
    color: $texto-melodia;
    font-size: 90px;
    padding: 40px 35px 0 35px;
}

.descricao{
    width: 500px;
}

.hero_content{
    font-size: 17px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 50px;
    padding: 30px 60px 30px 60px;
}

@media(max-width: 890px) {

    nav{
        gap: 0;
        justify-content: space-between;
        padding: 0 40px 0 20px;
    }

    nav .opcoes{
        display: none;
    }

    nav .toggle_btn {
        display: block;
    }

    .menu_dropdown.open {
        display: block;
    }

    .melodia{
        width: 100%;
        padding: 0 20px 0 20px;
    }
}

@media(max-width: 576px) {
    .menu_dropdown {
        left: 2rem;
        width: unset;
    }
}